<div class="modal fade" id="unpaid">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <span  id="theImage">
          <img data-src="https://res.cloudinary.com/inidaname/image/upload/v1517337850/payment.jpg" class="cld-responsive img-rounded center-block w-75 ml-auto mr-auto">
          <p class="w-50 mr-auto ml-auto mt-4 fullM text-center">
            Please if you have paid and you are still seeing this screen contact the Secretariat. Click I have Paid Already
          </p>
        </span>
        <div class="d-none" id="mbPay">
          <p class="text-center">
            Thank You for donating to ADP, Please provide details below.
          </p>
          <div class="form-group">
            <label class="label">Full Name</label>
            <input type="text" name="full_name" id="name_mobile" class="form-control" value="">
          </div>
          <div class="form-group">
            <label class="label">Bank Name</label>
            <input type="text" name="bank_name" id="bank_name" class="form-control" value="">
          </div>
          <div class="form-group">
            <label class="label">Phone Number</label>
            <input type="text" name="paidMobile" id="paidMobile" class="form-control" value="">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span id="fillForm" class="text-danger"></span>
        <a href="https://dashboard.adp.ng" class="btn btn-sm btn-success">Paid Already</a>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Let Me Pay On Web</button>
        <button type="button" onclick="payHere()" id="chBtn" class="btn btn-sm btn-primary">I Dialed the Code</button>
        <button type="button" onclick="payUp()" id="PayUp" class="btn btn-sm btn-primary d-none">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="d-flex w-100 p-4 justify-content-around align-items-center">
	<div class="d-flex w-50 m-auto bg-light p-4 border border-2 fullM flex-column">
		<h3 class="text-center">Online Payment Space</h3>
		<p>Member Name: <strong id="full_name">{{docs.full_name}}</strong> <br> Phone Number: <strong id="phone_number">{{docs.phone_number}}</strong> <br>Email: <strong id="your_email">{{docs.email}}</strong> <br> TID Number: <strong>{{docs.MemberAuth.TempID}}</strong>			</p>

		<div class="form-group">
			<label for="pay_cat"><abbr title="Naira">N</abbr>100 Payment for</label>
			<select class="form-control" id="pay_cat">
				<option value="Membership Card" selected>Membership Card</option>
			</select>
		</div>
		<div class="form-group">
			<label for="pay_subs">Monthly Subscription <abbr title="Naira">N</abbr>100/month</label>
			<select class="form-control" required name="subs" id="pay_subs">
				<option value="">Select One</option>
				<option value="3 Months">Plus 3 Months</option>
				<option value="6 Months">Plus 6 Months</option>
				<option value="1 Year">Plus 1 Year</option>
			</select>
		</div>
		<div class="form-group">
			<label for="amount">Total Amount</label>
			<span type="text" class="form-control" id="amount">&nbsp;</span>
			<input type="hidden" name="amount" id="amountVal" value="">
			<!-- <p class="help-block">Please fill the appropriate Amount here</p> -->
		</div>
		<div class="alert alert-primary" id="showTotal" role="alert">
			Please Select one of the Monthly Subscription above
		</div>
		<form action="">
			<script src="https://js.paystack.co/v1/inline.js"></script>
			<button type="button" id="payBtn" class="btn btn-primary btn-lg">Pay Here</button>
			<div class="col-md-12">
				<img data-src="https://res.cloudinary.com/inidaname/image/upload/v1513395675/footer_tje4zo.png" style="width:90%; margin: 0 auto;" class="cld-responsive" alt="">
			</div>
			<script>
				document.onreadystatechange = function() {
					if (document.readyState === "complete") {
						// console.log('why si this');
						$("#paidSus").modal("toggle");
					}
				}

        function payHere (){
          var theImage = document.getElementById('theImage')
          var chBtn = document.getElementById('chBtn')
          var mbPay = document.getElementById('mbPay')
          var PayUp = document.getElementById('PayUp')
          theImage.style.display = 'none'
          mbPay.className = "d-block text-left w-50 fullM mr-auto ml-auto"
          chBtn.className = "d-none"
          PayUp.className = "btn btn-primary"
        }

        function payUp() {
          $.ajaxSetup({
            headers : {
              authorization: "{{header}}"
            }
          });

          var name_mobile = document.getElementById('name_mobile').value
          var paidMobile = document.getElementById('paidMobile').value
          var bank_name = document.getElementById('bank_name').value

          if (paidMobile == "") {
            document.getElementById('fillForm').innerHTML = "Please provide information"
          } else {

            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            var paidData = {
              full_name: name_mobile,
              phone_number: paidMobile,
              amount: bank_name,
              purpose: "Donation via Mobile Transfer",
              status: "Pending",
              userId: getCookie('user_id')
            }

            $.post('paid', paidData, function(data, textStatus, xhr) {
              location.replace("https://dashboard.adp.ng");
            });
          }
        }



				function payWithPaystack() {
					var handler = PaystackPop.setup({
						key: 'pk_live_7ed395f69c06d004d9195244d253bfe5821e768f',
						email: document.getElementById('your_email').innerHTML,
						amount: document.getElementById('amountVal').value,
						ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
						metadata: {
							custom_fields: [{
								display_name: document.getElementById('full_name').innerHTML,
								variable_name: "mobile_number",
								value: document.getElementById('phone_number').innerHTML
							}]
						},
						callback: function(response) {

							function getCookie(cname) {
							    var name = cname + "=";
							    var decodedCookie = decodeURIComponent(document.cookie);
							    var ca = decodedCookie.split(';');
							    for(var i = 0; i <ca.length; i++) {
							        var c = ca[i];
							        while (c.charAt(0) == ' ') {
							            c = c.substring(1);
							        }
							        if (c.indexOf(name) == 0) {
							            return c.substring(name.length, c.length);
							        }
							    }
							    return "";
							}
							setTimeout(function () {
								response.purpose = "Membership card and " + document.getElementById('pay_subs').value + " Subscription"
								response.amount = document.getElementById('amount').innerHTML
								response.status = "Success"
								response.userId = getCookie('user_id')

                $.ajaxSetup({
                  headers : {
                    authorization: "{{header}}"
                  }
                });

								$.post('paid', response, function(data, textStatus, xhr) {
									$.ajax({
										url: 'http://192.169.231.145:8888/api/member/'+response.userId,
										type: 'PATCH',
										data: {MemberVerified: true}
									})
									.done(function(data) {
										window.location.replace("https://dashboard.adp.ng")
									})
									.fail(function(err) {
										console.log("error", err);
									})
								});

							}, 15000);
						},
						onClose: function(jsk) {

						}
					});
					handler.openIframe();
				}
			</script>
		</form>
	</div>
</div>
