<div class="tile is-ancestor box">
	<div class="tile is-parent">
     <div class="tile is-child box theMargin">
		  <div class="card">
		    <div class="card-content">
		      <div class="media">
		        <div class="media-left">
		          <figure class="image is-48x48">
		            <img src="{{json.passport}}" width="96px" height="96px" alt="Placeholder image">
		          </figure>
		        </div>
		        <div class="media-content">
		          <p class="title is-4">{{json.full_name}}</p>
		          <p class="subtitle is-6">Position: {{json.adminLevel}}</p>
		          <p class="subtitle is-6">PVC Number: <input type="text" id="pvc_confirm" class="input" readonly name="pvc" value="{{json.pvc}}" placeholder="Please instert your PVC Number"></p>
							<p id="pvc_error">&nbsp;</p>
							<!-- <div class="content">
							 <p class="title is-5 has-text-centered">Share the Message with Friends and Family<p>
								<p id="shareRound" class="has-text-centered"></p>
							</div> -->
							<div id="clImage"></div>
							<div style="display: none;" id="uploadPicHere">
								<div class="field">
									<label class="">Upload Passport</label> &nbsp;
									<button type="button" id="upload_opener" class="btn btn-success btn-lg">Click Here</button>
									<!-- <input type="file" title="Choose a Passport" id="passport" onchange="PreviewIcon()" class="btn-primary" accept="image/*"> -->
									<p><small class="text-primary">Click on the button above to select your <mark>Passport Image</mark></small></p>
								</div>
								<script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
								<input type="hidden" name="passport" value="" id="passport">
							</div>
		        </div>
		      </div>

		    </div>
		  </div>
     </div>
   </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
		 <a id="displayDon" class="button">Donate Today</a>
		 <form id="donate" style="display: none; margin-top:20px;" method="post">
			 <div class="content">
			  <p class="title is-size-5">Donate Today<p>
			 </div>
			 <div class="field">
			   <label class="label">Full Name</label>
			   <div class="control">
					{{json.full_name}}
			     <input class="input" type="hidden" id="full_name" name="full_name" value="{{json.full_name}}" placeholder="{{json.full_name}}">
			   </div>
			 </div>
			 <div class="field">
			   <label class="label">Email</label>
			   <div class="control">
					{{json.email}}
			     <input class="input" type="hidden" name="email" value="{{json.email}}" id="email">
			   </div>
			 </div>
			 <div class="field">
			   <label class="label">Phone Number</label>
			   <div class="control">
					{{json.phone_number}}
			     <input class="input" type="hidden" id="phone_number" value="{{json.phone_number}}" placeholder="Text input">
			   </div>
			 </div>
			 <div class="field">
			   <label class="label">Amount</label>
			   <div class="control">
			     <input class="input" type="text" name="amount" id="amount" placeholder="Text input">
			   </div>
			 </div>
			 <button class="button is-danger" type="button" onclick="payWithPaystacks()" name="button">Donate Today</button>
		 </form>
    </div>
    <div class="tile is-child box">
      <p class="title">Message Your Party</p>
		<form id="complain" method="post">
			<div class="field">
			  <label class="label">Full Name</label>
			  <div class="control">
			    <input class="input" type="text" name="name" value="{{json.full_name}}" disabled placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Subject</label>
			  <div class="control">
			    <input class="input" type="text" name="subject" placeholder="Text input">
			  </div>
		  </div>
		  <div class="field">
		    <label class="label">Category</label>
		    <div class="control">
		      <div class="select">
		        <select name="tags">
		          <option value="">Select Category</option>
		          <option value="Suggestion">Suggestion</option>
		          <option value="Complain">Complain</option>
		        </select>
		      </div>
		    </div>
		  </div>
		  <div class="field">
		    <label class="label">Message</label>
		    <div class="control">
				 <textarea name="message" class="textarea" rows="8" cols="80"></textarea>
		    </div>
		  </div>
		  <button type="button" class="button is-info" name="button">Send</button>
		</form>
    </div>
  </div>
</div>

<div class="modal" id="loadingModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="https://actiondemocraticparty.org/images/loading.gif" alt="">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<script type="text/javascript">
document.onreadystatechange = function() {
	if (document.readyState === "complete") {
		$.ajaxSetup({
			headers : {
				authorization: "{{header}}"
			}
		});

		document.getElementById("upload_opener").addEventListener("click", function() {
			cloudinary.openUploadWidget({ cloud_name: 'inidaname', upload_preset: 'adpnigeria'},
				function(error, result) {
				$('#preview').attr('src', result[0].secure_url);
				$('#passport').val(result[0].secure_url)
				console.log(result);
			});
		}, false);


		$('#displayDon').click(function(event) {
			console.log('Today');
		 $('#donate').slideToggle('slow')
		 $('#donate').toggleClass('notification is-success')
		});



		var pvcnumber = $('#pvc_confirm').val()
		if (pvcnumber === '') {
			$('#pvc_confirm').removeAttr('readonly')
		}

		$('#pvc_confirm').change(function(event) {
			$('#loadingModal').addClass('is-active')
			$.getJSON('http://192.168.8.105:8888/api/checkpvc/'+$('#pvc_number').val(), function(json, textStatus) {
				if (json.success === true) {
					$('#pvc_error').html('already exist. <code>E66.3</code>')
					$('#pvc_confirm').addClass('is-invalid')
					$('#loadingModal').removeClass('is-active')
				} else {
					$.ajax({
						url: 'http://192.169.231.145:8888/api/member/'+response.userId,
						type: 'PATCH',
						data: {pvc: $('#pvc_confirm').val()}
					})
					.done(function(data) {
						$('#loadingModal').removeClass('is-active')
						$('#pvc_confirm').attr('readonly');
					})
					.fail(function(err) {
						$('#loadingModal').removeClass('is-active')
						console.log("error", err);
					})

				}
			});

		});


					 	function payWithPaystacks() {
		 					var theAmount = document.getElementById('amount').value
		 					var thesplit = theAmount.split(',')
		 					var arrTr = thesplit.map((item) => {
		 						return item.trim()
		 					})
		 					var themjoin = arrTr.join('')
		 					var finalAmount = themjoin * 100

		 					if (!isNaN(finalAmount) && finalAmount !== 0) {

		 						var handler = PaystackPop.setup({
		 							key: 'pk_live_7ed395f69c06d004d9195244d253bfe5821e768f',
		 							email: document.getElementById('email').value,
		 							amount: finalAmount,
		 							ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
		 							metadata: {
		 								custom_fields: [{
		 									display_name: document.getElementById('full_name').value,
		 									variable_name: "mobile_number",
		 									value: document.getElementById('phone_number').value
		 								}]
		 							},
		 							callback: function(response) {
		 								response.full_name = document.getElementById('full_name').value
		 								response.phone_number = document.getElementById('phone_number').value
		 								response.email = document.getElementById('email').value
		 								response.amount = document.getElementById('amount').value
		 								response.purpose = "Member Donation to the Party"
		 								response.status = "Success"
		 								$.post('https://actiondemocraticparty.org/paid', response, function(data, textStatus, xhr) {
		 									$('donate').slideToggle('slow')
		 								});
		 							}
		 						});
		 						handler.openIframe();
		 					}
		 				}


		var theImage = "{{json.passport}}"
		var lstSplit = theImage.split('/');

		$.cloudinary.config({ cloud_name: 'inidaname', secure: true});

		var CreatedImage = $.cloudinary.image("campaign", {transformation: [{overlay: lstSplit[7], width: "1.6", height: "1.6", gravity: "faces", flags: "region_relative", crop: "crop"},{effect: "grayscale:50"},{effect: "vignette"}, {flags: "layer_apply", width: 230, radius: "max", gravity: "center", y: 7, x: -2, crop: "scale"} ]})
		var theImgSrc = CreatedImage.attr('src');


		if (lstSplit.length !== 0) {
			$("#shareRound").jsSocials({
				url: theImgSrc,
				text: "ADP Action Democratic Party The Credible Alternative #TheCredibleAlternative Join Us today visit www.adp.ng",
				showCount: false,
				showLabel: false,
				shares: [
					{ share: "twitter", via: "adpng", hashtags: "JoinADP,TheCredibleAlternative" },
					"facebook",
					"linkedin",
					"whatsapp"
				]
			});
			$('#clImage').append($.cloudinary.image("campaign", {transformation: [
				{overlay: lstSplit[7], width: "1.6", height: "1.6", gravity: "faces", flags: "region_relative", crop: "crop"},
				{effect: "grayscale:50"},
				{effect: "vignette"},
				{flags: "layer_apply", width: 230, radius: "max", gravity: "center", y: 7, x: -2, crop: "scale"}
			]}))
		} else {
			$('#clImage').css('display', 'none');
			$('#uploadPicHere').css('display', 'block');
		}
	}
}
</script>
