<div class="tile is-ancestor">
  <div class="tile is-7 is-vertical is-parent">
    <script type="text/javascript">

        fetch('http://192.169.231.145:8888/api/interestedmember/{{json._id}}')
          .then(
            function(response) {
              var chint = document.getElementById('checkInterest')
              var memberhere = document.getElementById('memberhere')
              var unpaidMember = document.getElementById('unpaidMember')
              if (response.status !== 200) {
                chint.style.display = 'block'

                console.log('Looks like there was a problem. Status Code: ' +
                  response.status);
                return;
              } else {
                chint.style.display = 'none'
                // Examine the text in the response
                response.json().then(function(data) {
                  document.getElementById('docId').value =  data._id
                  if (data.paid === false) {
                    chint.style.display = 'none'
                    unpaidMember.style.display = 'block'
                    var pocont = document.getElementById('positionCon').value
                    if (data.category === 'Party Exco') {
                      document.getElementById('positionCon').value =  data.level +' '+ data.position

                      // checking price
                      document.getElementById('amounted').value = 'Please Contact the Secretariat for price details'
                      document.getElementById('amounted').removeAttribute('readonly')
                    } else {
                      document.getElementById('positionCon').value =  data.position

                      // rendering the positions
                      switch (data.position) {
                        case 'Presidency':
                          document.getElementById('amounted').value = '5,000,000.00'
                          break;
                        case 'Governorship':
                          document.getElementById('amounted').value = '3,500,000.00'
                          break;
                        case 'Senator':
                          document.getElementById('amounted').value = '2,500,000.00'
                          break;
                        case 'Federal House of Assembly':
                          document.getElementById('amounted').value = '1,500,000.00'
                          break;
                        case 'State House of Assembly':
                          document.getElementById('amounted').value = '800,000.00'
                          break;
                        case 'Council Chairman':
                          document.getElementById('amounted').value = '400,000.00'
                          break;
                        case 'Councilorship':
                          document.getElementById('amounted').value = '100,000.00'
                          break;
                        default:

                      }
                    }
                  } else {
                    chint.style.display = 'none'
                    unpaidMember.style.display = 'none'
                    memberhere.style.display = 'block'
                    document.getElementById('podi').innerHTML = data.position
                    document.getElementById('countMem').innerHTML = data.count
                  }
                });
              }
            }
          )
          .catch(function(err) {
            console.log('Fetch Error :-S', err);
          });

    </script>
    <input type="hidden" id="docId" value="">
    <div class="tile is-child box" style="display: none;" id="memberhere">
      <div class="content">
       <p class="title">
         Your Expression of Interest
       <p>
       <p>
         Your Nomination process on your Expression of Interest for <b id="podi"></b> is Activated.
         <br>So far <b id="countMem"></b> has Nominated you
       </p>
      </div>
    </div>
    <div class="tile is-child box" style="display: none;" id="unpaidMember">
      <form id="payment">
        <h3>Payment for Nomination Form</h3>
        <div class="field">
          <label class="label">Candidate's Name</label>
          <div class="control">
            <input class="input" type="text" id="full_name" readonly value="{{json.full_name}}" placeholder="Text input">
          </div>
        </div>
        <div class="field">
          <label class="label">Position Contesting For</label>
          <div class="control">
            <input class="input" type="text" readonly id="positionCon" placeholder="Text input">
          </div>
        </div>
        <div class="field">
          <label class="label">Nomination form Price in Naira</label>
          <div class="control">
            <input class="input" id="amounted" readonly type="text" placeholder="Text input">
          </div>
        </div>
        <button type="button" class="button is-info is-large" onclick="payWithPaystack()" name="button">Pay Now</button>
        <script>
        function payWithPaystack() {
          var theAmount = document.getElementById('amounted').value
          var thesplit = theAmount.split(',')
          var arrTr = thesplit.map((item) => {
            return item.trim()
          })
          var themjoin = arrTr.join('')
          var finalAmount = themjoin * 100

          if (!isNaN(finalAmount)) {

            var handler = PaystackPop.setup({
              key: 'pk_test_d718965961de7b1d678c7a70fbcfaef072800df9',
              email: "{{json.email}}",
              amount: finalAmount,
              ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
              metadata: {
                custom_fields: [{
                  display_name: document.getElementById('full_name').value,
                  variable_name: "mobile_number",
                  value: "{{json.phone_number}}"
                }]
              },
              callback: function(response) {

                function getCookie(cname) {
  							    var name = cname + "=";
  							    var decodedCookie = decodeURIComponent(document.cookie);
  							    var ca = decodedCookie.split(';');
  							    for(var i = 0; i <ca.length; i++) {
  							        var c = ca[i];
  							        while (c.charAt(0) == ' ') {
  							            c = c.substring(1);
  							        }
  							        if (c.indexOf(name) == 0) {
  							            return c.substring(name.length, c.length);
  							        }
  							    }
  							    return "";
  							}
                response.full_name = document.getElementById('full_name').value
                response.phone_number = "{{json.phone_number}}"
                response.email = "{{json.email}}"
                response.amount = document.getElementById('amounted').value
                response.purpose = "Payment for contesting " + document.getElementById('positionCon').value
                response.status = "Success"
                response.userId = getCookie('user_id')
                $.post('http://actiondemocraticparty.org/pay/paid', response, function(data, textStatus, xhr) {
                  console.log(response);
                  $.ajax({
                    url: 'http://192.169.231.145:8888/api/interest/'+document.getElementById('docId').value,
                    type: 'patch',
                    data: {paid: true}
                  })
                  .done(function(data) {
                    console.log("success", data);
                  })
                  .fail(function() {
                    console.log("error");
                  })
                });
              }
            });
            handler.openIframe();
          } else {
            document.getElementById('amounted').className = "input is-danger"
          }
        }
        </script>
      </form>
    </div>
    <div class="tile is-child box" style="display: none;" id="checkInterest">
      <p class="title">Contest for a Position</p>
		<small>This is an Express of Interest form, Nomination will be handle by Party Members</small>
		<div class="box has-text-centered" id="applyBTN">
			<button type="button" id="partyExcos" class="button is-info">Party Exco</button> <button type="button" id="publicOff" class="button is-danger">Public Office</button>
		</div>
		<script type="text/javascript">
		document.onreadystatechange = function() {
 	  	if (document.readyState === "complete") {
			$('#partyExcos').click(function(event) {
				$('#ExcoexpressOfIn').show('slow');
				$('#applyBTN').hide('slow');
			});
			$('#publicOff').click(function(event) {
				$('#PubexpressOfIn').show('slow');
				$('#applyBTN').hide('slow');
			});
			$('#clearthis1').click(function(event) {
				$('#PubexpressOfIn').hide('slow');
				$('#applyBTN').show('slow');
			});
			$('#clearthis2').click(function(event) {
				$('#ExcoexpressOfIn').hide('slow');
				$('#applyBTN').show('slow');
			});
 	  	}
 	  }
		</script>
		<!-- expression of interest for public office -->
		<form id="PubexpressOfIn" style="display: none; margin-top:20px;" class="box" action="" method="post">
			<div class="content has-text-centered">
				<h5 class="has-text-centered">Expression of Interest for Public Office</h5>
				<button type="button" class="button is-dark" id="clearthis1">Go Back</button>
			</div>
			<div class="field">
			  <label class="label">Position Contesting For</label>
			  <div class="control">
			    <div class="select is-success is-fullwidth">
			      <select required name="position">
			        <option value="">Select One Please</option>
			        <option value="Councilorship">Councilorship</option>
			        <option value="Council Chairman">Council Chirman</option>
			        <option value="State House of Assembly">State House of Assembly</option>
			        <option value="Federal House of Assembly">Federal House of Assembly</option>
			        <option value="Senator">Senator</option>
			        <option value="Governorship">Governorship</option>
			        <option value="Presidency">Presidency</option>
			      </select>
			    </div>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Poster Picture <small>You Can always Change</small></label>
			  <div class="control">
				  <input type="file" name="posterPic" class="input" value="">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Full Name</label>
			  <div class="control">
			    <input class="input" type="text" name="full_name" value="{{json.full_name}}" placeholder="Your Full Name">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Voter's Card Number</label><small>This is issued by INEC</small>
			  <div class="control">
			    <input class="input" name="voterCard" type="text" required value="{{json.voterCard}}" placeholder="Voter Card Number">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Marital Status</label>
			  <div class="control">
			    <div class="select">
			      <select name="maritalStatus">
			        <option value="">Please Select One</option>
			        <option value="Single">Single</option>
			        <option value="Married">Married</option>
			        <option value="Divorced">Divorced</option>
			        <option value="Widow">Widow</option>
			      </select>
			    </div>
			  </div>
			</div>

			<div class="field">
				<label class="label">Do You Have Children</label>
			  <div class="control">
			    <label class="radio">
			      <input type="radio" name="WithKids" required value="Yes">
			      Yes
			    </label>
			    <label class="radio">
			      <input type="radio" name="WithKids" value="No">
			      No
			    </label>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Address</label>
			  <div class="control">
				  <textarea name="address" required class="textarea" rows="3" cols="20">{{json.residenceAdd}}</textarea>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Highest Level of Education</label>
			  <div class="control">
			    <div class="select">
			      <select required name="eduLevel" id="eduLevel">
						<option value="">Please Select One Below</option>
						<option value="Secondary School">Secondary School</option>
						<option value="NCE Level">NCE Level</option>
						<option value="ND Level">ND Level</option>
						<option value="HND Level">HND Level</option>
						<option value="Bachelor Degree">Bachelor Degree</option>
						<option value="Masters Degree">Masters Degree</option>
						<option value="PhD">PhD</option>
			      </select>
			    </div>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Name of Secondary School</label>
			  <div class="control">
			    <input class="input" type="text" name="secondarySch" placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Name of High Institution (If Applicable)</label>
			  <div class="control">
			    <input class="input" type="text" name="highInstitute" placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Name of Second High Institution (If Applicable)</label>
			  <div class="control">
			    <input class="input" type="text" name="SechighInstitute" placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Place of Work</label>
			  <div class="control">
			    <input class="input" type="text" name="placeofwork" placeholder="Place of Work">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Position at Working Place</label>
			  <div class="control">
				  <input class="input" type="text" name="positionofwork" placeholder="Place of Work">
			  </div>
			</div>
			<input type="hidden" name="category" value="Public Office">
			<button type="button" class="button is-info is-large">Submit</button>
		</form>

		<!-- expression of exco interest here -->
		<form id="ExcoexpressOfIn" style="display: none; margin-top:20px;" class="box" action="" method="post">
			<div class="content has-text-centered">
				<h5 class="has-text-centered">Expression of Interest form for Party Excutives</h5>
				<button type="button" class="button is-dark" id="clearthis2">Go Back</button>
			</div>
			<div class="field">
			  <label class="label">Level of Position</label>
			  <div class="select is-success is-fullwidth">
				 <select required name="level">
					<option value="">Select One Please</option>
					<option value="Polling Unit">Polling Unit</option>
					<option value="Ward">Ward</option>
					<option value="Local Govt">Local Govt</option>
					<option value="State">State</option>
					<option value="National">National</option>
				 </select>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Position Contesting For</label>
			  <div class="control">
				 <input type="text" name="position" required class="input" value="">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Poster Picture <small>You Can always Change</small></label>
			  <div class="control">
				  <input type="file" name="posterPic" class="input" value="">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Full Name</label>
			  <div class="control">
			    <input class="input" type="text" name="full_name" value="{{json.full_name}}" placeholder="Your Full Name">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Voter's Card Number</label><small>This is issued by INEC</small>
			  <div class="control">
			    <input class="input" name="voterCard" type="text" required value="{{json.voterCard}}" placeholder="Voter Card Number">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Marital Status</label>
			  <div class="control">
			    <div class="select">
			      <select name="maritalStatus">
			        <option value="">Please Select One</option>
			        <option value="Single">Single</option>
			        <option value="Married">Married</option>
			        <option value="Divorced">Divorced</option>
			        <option value="Widow">Widow</option>
			      </select>
			    </div>
			  </div>
			</div>

			<div class="field">
				<label class="label">Do You Have Children</label>
			  <div class="control">
			    <label class="radio">
			      <input type="radio" name="WithKids" required value="Yes">
			      Yes
			    </label>
			    <label class="radio">
			      <input type="radio" name="WithKids" value="No">
			      No
			    </label>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Address</label>
			  <div class="control">
				  <textarea name="address" required class="textarea" rows="3" cols="20">{{json.residenceAdd}}</textarea>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Highest Level of Education</label>
			  <div class="control">
			    <div class="select">
			      <select required name="eduLevel" id="eduLevel">
						<option value="">Please Select One Below</option>
						<option value="Secondary School">Secondary School</option>
						<option value="NCE Level">NCE Level</option>
						<option value="ND Level">ND Level</option>
						<option value="HND Level">HND Level</option>
						<option value="Bachelor Degree">Bachelor Degree</option>
						<option value="Masters Degree">Masters Degree</option>
						<option value="PhD">PhD</option>
			      </select>
			    </div>
			  </div>
			</div>
			<div class="field">
			  <label class="label">Name of Secondary School</label>
			  <div class="control">
			    <input class="input" type="text" name="secondarySch" placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Name of High Institution (If Applicable)</label>
			  <div class="control">
			    <input class="input" type="text" name="highInstitute" placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Name of Second High Institution (If Applicable)</label>
			  <div class="control">
			    <input class="input" type="text" name="SechighInstitute" placeholder="Text input">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Place of Work</label>
			  <div class="control">
			    <input class="input" type="text" name="placeofwork" placeholder="Place of Work">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Position at Working Place</label>
			  <div class="control">
				  <input class="input" type="text" name="positionofwork" placeholder="Place of Work">
			  </div>
			</div>
			<input type="hidden" name="category" value="Party Exco">
			<button type="submit" class="button is-info is-large">Submit</button>
		</form>
    </div>
    <!-- <div class="tile is-child box">
      <p class="title">Two</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div> -->
  </div>
  <!-- <div class="tile is-parent">
    <div class="tile is-child box">
		 <div class="content">
		  <p class="title">This Section will Display list of Available Contestant during a Convention or a Primary Election<p>
		 </div>
    </div>
  </div> -->
</div>
